<div class="statsNav">
    <label id="user">{{ players.Nome }}</label>
    <img class="margin" src="../../../assets/img/atk.png" width="35px" height="35px">
    <label class="margin" id="atk">{{ players.Atk }}</label>
    <img class="margin" src="../../../assets/img/int.png" width="35px" height="35px">
    <label class="margin" id="int">{{ players.Int }}</label>
    <img class="margin" src="../../../assets/img/shield.png" width="35px" height="35px">
    <label class="margin" id="lp">{{ players.Vida }}</label>
    <img class="margin" (click)="logout()" src="../../../assets/img/logout.png" width="35px" height="35px">



</div>