<div class="background">
    <!-- Button trigger modal -->
    <div class="position-absolute top-50 start-50 translate-middle"><button type="button" class="btn btn-primary"
            data-bs-toggle="modal" data-bs-target="#exampleModal">
            START GAME
        </button>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog container login-container" style=" min-width: 60vw !important; min-height: 55vh;">
        <div class=" modal-content">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Login</h3>
                    <div class="form-group mb-3">
                        <input #usernameLogin type="text" class="form-control" placeholder="Username *" value="" />
                    </div>
                    <div class="form-group mb-4">
                        <input #passwordLogin type="password" class="form-control" placeholder="Password" value="" />
                    </div>
                    <div class="form-group mb-2">
                        <input type="submit" class="btnSubmit" value="Login"
                            (click)="login(usernameLogin.value, passwordLogin.value)" />
                    </div>

                </div>
                <div class="col-md-6 login-form-2">
                    <div class="login-logo">
                        <img src="../../../assets/img/logo.png" alt="" />
                    </div>
                    <h3>Sign Up</h3>
                    <div class="form-group mb-3">
                        <input #usernameSignIn type="text" class="form-control" placeholder="Username" value="" />
                    </div>
                    <div class="form-group mb-3">
                        <input #passwordSignIn type="password" class="form-control" placeholder="Password" value="" />
                    </div>
                    <div class="form-group mb-4">
                        <input #passwordVerifySignIn type="password" class="form-control" placeholder="Confirm Password"
                            value="" />
                    </div>
                    <div class="form-group mb-2">
                        <input type="submit" class="btnSubmit" value="Sign Up"
                            (click)="signIn(usernameSignIn.value, passwordSignIn.value, passwordVerifySignIn.value)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>