<div class="background">
    <app-navbar></app-navbar>
    <div>
        <button class="btn btn-primary" routerLink="/city">Back to City</button>
    </div>
    <div class="text-center">
        <label #acertou class="acertou">HIT!</label>
        <label #falhou class="falhou">FAIL!</label>
    </div>
    <div #left class="leftGuy text-center">
        <p class="text-white font-weight-bold">{{ players.Nome }}</p>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" [style.width.%]="vidaPercentagem1"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <img src="../../../assets/img/leftWarrior.png" alt="">
    </div>
    <div #right class="rightGuy text-center">
        <p class="text-white font-weight-bold">{{player1.Nome}}</p>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" [style.width.%]="vidaPercentagem2"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <img src="../../../assets/img/rightWarrior.png" alt="">
    </div>
    <div class="position-absolute top-50 start-50 translate-middle">
        <button type="button" (click)="batalha(left, right, acertou, falhou)"
            class="btn btn-outline-danger font-weight-bold">Fight</button>
    </div>
</div>